.listComponent .projectCard{
  /* border: 1px black solid; */
  align-items: center;

  .zoneLogo{
    min-height: 50px;

    .logoProject{
      margin: 0 15px;
      border: 1px solid #ced4da;
      border-radius: 50%;
      box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
      height: 50px;
      width: 50px;
    }
  }

  .zoneInfo{
    line-height: 1.2em;

    .role{
      font-size: 0.8em;
      font-weight: normal;
    }
  }

  .separator{
    color: grey;
    font-weight: 100;
    padding: 5%;
  }

  .col-right{
    text-align: center;

    .btn{
      margin: 0 10px 10px;
    }
  }

  .delete{
    color: red;
    border: none !important;
    background: none !important;
    cursor: pointer;
		transition-duration: 0.2s;
		&:hover{
			transition-duration: 0.2s;
			color: lighten(red, 20);
		}
  }

}
