.documentCard {
  max-width: 160px;
  min-width: 160px!important;
  text-align: center;
	margin: 15px;
	
	h6 {
		font-size: 15px;
	}

  i {
		font-size: 40px;
		&.fa-times {
			font-size: 25px;
			position: absolute;
			top:-10px;
			right: -15px;
			color:red;
			&:hover {
				cursor: pointer;
				opacity: .7;
			}
		}
  }
}
