@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.listComponent {
  margin-top: 20px;
  
  .noResult{
    font-size: 1.8rem;
    font-weight: bold;
		color: color("gray-300");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }
}