@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';


.auth-form {
  margin-right: 0!important;
  @media (max-width:991px) {
    padding-left: 15px!important;
  }
}

.leftPannel {
  height: 100vh;
	background: linear-gradient(90deg, #0084FF 0%, #661CAB 100%);
  @media (max-width:991px) {
    height: 150px;
    .logo {
      max-width: 80px;
    }
  }
}

.rightPannel {
  @media (min-width:1301px) {
    max-width: 600px!important;
    margin: auto;
  }
  @media (max-width:1300px) {
    padding: 15px 6rem!important;
    width: 100%;
  }
  @media (max-width:1100px) {
    padding: 15px 4rem!important;
  }
  @media (max-width:991px) {
    padding: 15px 5rem!important;
  }
  @media (max-width:481px) {
    padding: 15px 2rem!important;
	}
	.alert button {
		margin: 0 0 8px;
	}
}

.form-content {
  .form-header {
    h2 {
      color:color("gray-dark");
      font-size: 38px;
      text-align: center;
    }
    p {
      color:color("gray-dark");
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      padding: 20px 0 0;
    }
    &.signup h2, &.signup p {
      text-align: left;
    }
  }

  .form-check-input{
    height: 20px;
    width: 14px;
    border:2px solid color("lightgray");
  }
  .form-check-label {
    span {
      padding: 0.2rem 0rem;
      display: inline-block !important;
    }
    .nav-link {
      display: inline;
    }
  }
  button[type="submit"] {
    width: auto;
    margin: 25px auto 0;
    padding: 10px 20px;
    font-weight: bold;
  }
  input {
    height: 60px;
    border:2px solid color("lightgray");
  }
  label {
    padding-bottom: 5px;
  }
  // padding for 2 columns form
  .form-group.col-12 {
    @media (max-width:767px) {
      padding: 0px!important;
    }
    @media (min-width:768px) {
      &:nth-child(odd) {
        padding: 0 15px 0 0!important;
      }
      &:nth-child(even) {
        padding: 0 0 0 15px!important;
      }
    }
  }
}

form.row {
  margin: 0!important
}

.rowPwd {
  padding-top:10px;
  margin-left:0px!important;
  .col-5, .col-7{
    padding: 0 0 5px!important;
  }
  a {
    color: #7F8FA4!important;
    font-size:16px;
    padding:0 15px;
    border:0;
    &:hover {
      color: #7F8FA4;
      text-decoration: underline;
    }
  }
}

.goToSignUp {
  text-align: center;
  width: 100%;
  padding: 0px 0 15px;
  &.signup {
    text-align: left;
  }
  &--signup {
    display:inline-block!important;
  }
  a {
    padding-left: 5px;
  }
}

.accept {
  // text-align: center;
	width: 100%;
	line-height: 15px!important;
	margin: 10px 0 5px;
  &.signup {
    text-align: left;
  }
  &--signup {
    display:inline-block!important;
  }
  a {
    padding: 5px!important;
  }
}



.form-message {
	margin:auto;
	text-align: center;
	img {
		max-width:400px;
		width:100%;
	}
}

.accept .invalid-feedback {
	border:1px solid red;
	padding-left: 5px;
}

.signIn .mail-sent.alert {
	display: none;
}
