.challengeMap{
  height: 500px;
    .col-12{

      padding: 0;

      img{
        width: 100%;
        height: 500px;
      }

      .devInfo{
        font-size:5em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    
  
  overflow: hidden;
}